html {
    background-color: #221c1c;
    color: #C5B8B8;
    font-family: 'Times New Roman', Times, serif;
}

body {
    height: 100vm;
    max-width: 8.5in;
    margin: auto;
}

h1 {
    text-align: center;
    margin: 20px;
}

li {
    margin: 0.5em;
}